<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>App - Users</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li class="nav-item"><a class="active" href="">All users</a></li>
                <li class="nav-item"><a href="/users/create">Create new user</a></li>
            </ul>
        </nav>
    </header>
    <div class="title-container">
        <div class="title">
            <h1 class="title-h1">All users</h1>
        </div>
    </div>
    <div class="ox-auto">
        <table class="table">
            <thead class="t-header">
                <tr>
                    <th class="t-header-item">ID</th>
                    <th class="t-header-item">Name</th>
                    <th class="t-header-item">Age</th>
                    <th class="t-header-item"></th>
                    <th class="t-header-item"></th>
                </tr>
            </thead>
            <tbody>
                <% users.map(el => { %>
                    <tr class="t-user-row">
                        <td class="t-item"><%= el.id %></td>
                        <td class="t-item"><%= el.name %></td>
                        <td class="t-item"><%= el.age %></td>
                        <td class="t-item"><a class="btn btn-update" href="/users/update/<%= el.id %>">Modificar</a></td>
                        <td class="t-item"><a class="btn btn-delete" href="/users/delete/<%= el.id %>">Eliminar</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>